<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.fabric.answers" version="1.2.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Answers</name>
    <description>Cordova Plugin for Fabric/Answers</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <js-module name="FabricAnswersPlugin" src="www/answers.js">
        <clobbers target="plugin.Fabric.Answers"/>
    </js-module>

    <dependency id="org.fathens.cordova.plugin.fabric.core" url="https://github.com/fathens/cordova-plugin-fabric-core.git" commit="master" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FabricAnswersPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricAnswers"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/FabricAnswers.kt" target-dir="kotlin/org.fathens.cordova.plugin.fabric"/>

        <fabric>
            <import>com.crashlytics.android.answers.Answers</import>
            <instance>Answers()</instance>
        </fabric>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FabricAnswersPlugin">
                <param name="ios-package" value="FabricAnswers"/>
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/FabricAnswers.swift"/>

        <framework src="Answers" type="podspec" spec="~> 1.3.3">
            <bridging-header import="Answers/Answers.h" />
        </framework>

        <fabric name="Answers">
            <instance>Answers.self</instance>
        </fabric>

        <hook type="before_prepare" src="platforms/ios/hooks/before_prepare.rb"/>
    </platform>
</plugin>
